<ul class="nav nav-tabs nav-justified">

  
 <li routerLinkActive="active"> <a class="page-scroll"  [routerLink]="['/profile']">Profile</a> </li>  
  <li routerLinkActive="active"> <a class="page-scroll" [routerLink]="['/abilities']">Abilities</a> </li>
  <li routerLinkActive="active"> <a class="page-scroll" [routerLink]="['/experiences']">Experiences</a> </li>
  <li routerLinkActive="active"> <a class="page-scroll" [routerLink]="['/contact']">Contact</a> </li>
  <li routerLinkActive="active"> <a class="page-scroll" [routerLink]="['/projects']">Projects</a> </li>
    
  
</ul>