<!--The content below is only a placeholder and can be replaced.-->
<app-barra></app-barra>
<header style="background-color:#0B3F70">

<div style="text-align:center">

  
  <p></p>
  <img width="300" src="http://logonoid.com/images/the-offspring-logo.png">

  <h1 style="color:#F3F3F3">Andres Bustamante Del Castillo</h1>

</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</header>

<router-outlet></router-outlet>
